@font-face {
  font-family: "Source Han Serif CN";
  src: url("../assets/fonts/source-han-serif-cn/SourceHanSerifCN-Heavy-4.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Novecento Wide";
  src: url("../assets/fonts/novecento/Novecento-Wide-Normal-2.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Han Sans SC";
  src: url("../assets/fonts/source-han-sans-sc/SourceHanSansSC-Normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
