@font-face {
  font-family: "Akt Regular";
  src: url("../assets/fonts/akt/Akt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akt Bold";
  src: url("../assets/fonts/akt/Akt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mochiy Pop One";
  src: url("../assets/fonts/mochiy-pop-one/MochiyPopOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trade Winds";
  src: url("../assets/fonts/trade-winds/TradeWinds-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
