@font-face {
  font-family: "Chiron GoRound TC Medium";
  src: url("../assets/fancam/ChironGoRoundTC-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chiron GoRound TC Bold";
  src: url("../assets/fancam/ChironGoRoundTC-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chiron Hei HK";
  src: url("../assets/fancam/ChironHeiHK-VariableFont_wght.woff2") format("woff2");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
